@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* ---------- color palette ---------- 
#212121 - almost black 
#6D9886 - nice green
#D9CAB3 - beige 
#F6F6F6 - grayish white 
--------------------------------------------*/


/* -------------------- all components rules -------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #F6F6F6;
  color: #212121;  
  line-height: 1.7;  
}

.logo {  
  height: 80px;
  border: solid 1px transparent;
  border-radius: 20px;
}

.logo:hover {
  transform: scale(1.1, 1.1);
  transition: 'smooth';
}

.login-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-label{
  color: #6D9886;
  font-size: small;
}

.img-label a{
  color: #6D9886;
  font-size: small;
}

.homepage{
  background-color: #F6F6F6;
  background-image: url(./assets/food-narrow.jpg);
  
  margin-top: 120px;
  height: 90vh;
  padding: 0 30px; 
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-img{
  width: 100%;
  height: 100%;
  
}

/*  ----------------- media queries (medium devices) --------------------*/
@media screen and (max-width: 1024px) {
  .login-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
}

/*  ----------------- media queries (small devices) --------------------*/
@media screen and (max-width: 600px) {
  .login-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .homepage{
    background-image: url(./assets/food.jpg);
    height: auto;
    padding-bottom: 30px;
  }
 
}